.navbar {
  width: 100%;
  height: 100px;
  background-color: #343434;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 35px;
  position: relative;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.counter {
  background-color: white;
  height: 20px;
  width: 20px;
  color: #343434;
  font-size: 1rem;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 330px;
}
